@font-face {
               font-family: head;
               src: url(/fonts/headF.ttf);
}
@font-face {
               font-family: gilroy;
               src: url(/fonts/Gilroy-Medium.ttf
               );
}
@font-face {
               font-family: gilroyL;
               src: url(/fonts/Gilroy-Light.ttf);
}
@font-face {
               font-family: genti;
               src: url(/fonts/gentium.ttf);
}

*{
               margin: 0;
               padding: 0;
}
html,body{
               width: 100%;
               height: 100%;
}
#page1{
               width: 100%;
               height: 100vh;
               background-color: #FCF4E6;
}

/*  ****************** navbar *********************** */
#nav{
               height: 13%;
}
#navbar{
               display: flex;align-items: center;
               justify-content: space-between;
               width: 79%;
               list-style: none;
               color: #000;
               margin: auto;
               height: 100%;
               padding: 0px 10px;
               border-radius: 10px;
               border-bottom: 2px solid rgba(0, 0, 0, 0.114);
               /* background-color: #000; */
}
#logo{
               text-align: center;
               font-family: gilroy;
               font-size: 1.1rem;
}
.green{
               color:#5FA573
}
.big{
               font-size: 1.6rem;
               letter-spacing: 1px;
}
#menu{
               font-family: gilroy;
               font-size: 1.2rem;
}
#menu span{
               margin-right: 25px;
}
#sign-up{
               height: 50px;
               width: 120px;
               padding: 8px 0 8px 15px;
               font-family: gilroy;
               font-size: 1.5em;
               background-color: transparent;
               transition: all 0.3s ease;
               color: #000;
               display: flex;align-items: center;
               border: 2px solid #5FA573;
               border-radius: 30px;
}
#login{
               height: 50px;
               font-size: 1.6rem;
               margin-left: 20px;
               width: 120px;
               transition: all 0.3s ease;
               display: flex;align-items: center;
               justify-content: center;
               padding: 8px 10px;
               color: #fff;
               font-family: gilroy;
               border: none;
               /* background-color: transparent; */
              background-color:  #5FA573;
               border-radius: 30px;
}
#login:hover{
               border: 2px solid #5FA573;
               background-color: transparent;
               color: #000;
}
#sign-up:hover{
               /* border: none; */
               background-color: #5FA573;
               color: #fff;
}
.flex{
               display: flex;
}

/* ********************* p1-main ******************** */
.p1-main{
               width: 100%;
               display: flex;
               height: 87%;
}
.p1-left{
               width: 50%;
               position: relative;
               height: 100%;
               /* background-color: violet; */
}
.p1-left h1{
               font-size: 5.5rem;
               text-align: end;
               font-family: genti;
               letter-spacing: 1px;
               margin-top: 10%;
               z-index: 1;
               position: relative;
               margin-right: 10%;
}
.below-h1{
               font-family: gilroyL;
               color: #5A5143;
               width: 70%;
               margin-top: 7%;
               letter-spacing: 1.5px;
               margin-left: 24%;
               font-size: 1.2rem;
               word-spacing: 1px;
               letter-spacing: 1px;
}
.button-flex{
               margin-top: 7%;
               height: 10%;
               /* background-color: #000; */
               display: flex;align-items: center;justify-content: center;
               gap: 10%;
}
#Who{
               width: 20%;
               height: 80%;
               background-color:#70be86 ;
               border: none;
               border-radius: 30px;
               padding: 0 14px;
               font-family: gilroy;
               font-size: 1.3rem;
               color: #fff;
}
.flex{
               display: flex;
               align-items: center;
               gap: 10px;
}
.circle{
               width: 45px;
               height: 45px;
               border-radius: 50%;
               display: flex;align-items: center;justify-content: center;
               border: 2px solid #70be86;
               color: #70be86;
}
.in-bf{
               color: #5A5143;
               font-family: gilroy;
               font-size: 1.1rem;

}

#line{
               position: absolute;
               right: 12%;
               top:39.5%;
               z-index: 0;
               width: 65%;
               transform: rotate(-2deg);
}              




/* ***************** p1-right ******************** */


.p1-right{
               width: 50%;
               position: relative;
               height: 100%;
}
#img1{
               width: 100%;
               position: absolute;
               top: 17%;
               z-index: 10;
               background-image: url(https://images.pexels.com/photos/4668363/pexels-photo-4668363.jpeg?auto=compress&cs=tinysrgb&w=600);
               left: 6%;
               border-top-right-radius: 40%;
               border-bottom-left-radius: 40%;
               height: 100%;
               background-color: rgb(0, 0, 0);
}
#layer1{
               position: absolute;
               width: 35%;
               top: 10%;
               left: 5%;
               border-top-right-radius: 40%;
               border-bottom-left-radius: 40%;
               height: 35%;
               border: 3px dashed #dadada;
               
}
#layer2{
               width: 31%;
               height: 36%;
               border: 3px dashed #dadada;
               position: absolute;
               border-top-left-radius: 40%;
               border-bottom-right-radius: 40%;
               top: 11%;
               right:22%; 
}
#img2{
               position: absolute;
               top: 12%;
               background-image: url(https://images.pexels.com/photos/3850512/pexels-photo-3850512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
               left: 6%;
               height: 100%;
               width: 100%;
               background-color: #000;
               border-top-left-radius: 40%;
               border-bottom-right-radius: 40%;
               
}
#layer3{
               width: 35%;
               height: 35%;
               border: 3px dashed #dadada;
               position: absolute;
               bottom: 10%;
               left: 4%;
               border-top-left-radius: 40%;
               border-bottom-right-radius: 40%;
}
#img3{
               height: 100%;
               width: 100%;
               border-top-left-radius: 40%;
               border-bottom-right-radius: 40%;
               position: absolute;
               bottom: -8%;
               background-image: url(https://images.pexels.com/photos/3409511/pexels-photo-3409511.jpeg?auto=compress&cs=tinysrgb&w=600);
               left: 9%;
               background-color: #000;
}
.img{
               background-size: cover;
               background-position: center;
}
#layer4{
               width: 31%;
               height: 36%;
               border: 3px dashed #dadada;
               position: absolute;
               border-top-right-radius: 40%;
               border-bottom-left-radius: 40%;
               bottom: 9%;
               right:22%; 
}
#img4{
               position: absolute;
               background-image: url(https://images.pexels.com/photos/1781932/pexels-photo-1781932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
               top:  8%;
               left: 6%;
               width: 100%;
               height: 100%;
               border-top-right-radius: 40%;
               background-color: #000;
               border-bottom-left-radius: 40%;
               
}
               
/* ****************** page 2 ******************** */
#page2{
               width: 100%;
               height: 120vh;
               position: relative;
               background-color: #FDF7EF;
}
/* **************** top part ********************* */
.p2-top{
               padding-top: 5%;
               width: 100%;
               height: 25%;
               margin-bottom: 2%;
}
.benefits{
               font-size: 5rem;
               font-family: genti;
               margin-bottom: 3%;
               text-transform: uppercase;
               text-align: center;
}
.benefit-para{
               font-family: gilroy;
               font-size: 1.3rem;
               margin: auto;
               color: #5A5143;
               width:50.9%;
               text-align: center;
}

/* ******************* page 2 bottom part ************** */
.p2-bottom{
               height: 50%;
               width: 100%;
               /* background-color: #000; */
               display: flex;
               overflow: hidden;
               position: relative;
}

/* ********************* center image page 2 ******************** */


 /* ************** bottom left ************** */
.bottom-left{
               width: calc(100%/3);
               height: 100%;
}
.btm-lft-top{
               height: 50%;
               width: 100%;
               transition: all 0.4s ease;
               padding-top: 4%;
               padding-left: 30%;
               
}
.btm-lft-bottom{
               transition: all 0.4s ease;
               padding-left: 30%;
               height: 50%;
               padding-top: 7%;
               width: 100%;
}
.btm-lft-h1{
               margin-bottom: 5%;
               font-size: 1.6rem;
               font-family: gilroy;
               letter-spacing: 1px;
}
.btm-lft-p{
               font-size: 1.2rem;
               width: 70%;;
               font-family: gilroyL;
               color: #5A5143;
}

.btm-center{
               width: calc(100%/3);
               height: 100%;
               display: flex;align-items: center;justify-content: center;
               /* background-color: rgb(50, 72, 72); */
}


/* *************** bottom right *************** */
.bottom-right{
               width: calc(100%/3);
               height: 100%;
               /* background-color: rgb(118, 127, 127); */
}

.btm-rght-top{
               height: 50%;
               padding-left: 2%;
               padding-top: 4%;
               transition: all 0.4s ease;
               width: 100%;
               /* background-color: antiquewhite; */
}
.btm-rght-bottom{
               height: 50%;
               width: 100%;
               transition: all 0.4s ease;
               padding-left: 2%;
               padding-top: 5%;
               /* background-color: rgb(116, 85, 42); */
}

.btm-rght-h1{
               font-size: 1.6rem;
               /* margin-top: 5%; */
               letter-spacing: 1px;
               margin-bottom: 5%;
               font-family: gilroy;
}
.btm-rght-p{
               font-size: 1.2rem;
               font-family: gilroyL;
               width: 78%;
}

/* **************** page 2 last section **************** */
.p2-last{
               width: 100%;
               height: 10%;
               margin-top: 2%;
               display: flex;align-items: center;justify-content: center;
}
.p2-last button{
               width:20%;
               height: 50%;
               font-family: gilroy;
               font-size: 2rem;
               border-radius: 30px;
               background-color: #6fb683;
               border: none;
               margin: auto;
               color: #fff;
}
/* ********** page 3 *********** */
#page3{
               height: 100vh;
               width: 100%;
               background-color: #FDF7EF;
               padding-top: 10%;

}
.p3-container{
               
               height: 80%;
               width: 75%;
               /* background-color: #000; */
               margin: auto;
}
/****************** top part ************************* */
.cont-top{
               width: 100%;
               height: 30%;
               overflow: hidden;
               display: flex;
               /* background-color: pink; */
}
.ct-lft{
               width: 50%;
               height: 100%;
               padding-top: 1%;
               /* background-color: purple; */
}
.ct-lft h1{
               font-family: genti;
               font-weight: 100;
               padding-left: 3%;
               font-size: 3rem;
               letter-spacing: 1px;
               margin-bottom: 7%;
}
.ct-lft p{
               width: 100%;
               font-size: 1.3rem;
               font-family: gilroy;
               word-spacing: 1px;
               letter-spacing: 1px;
               color: #5A5143;
               padding-left: 4%;

}
.ct-rght{
               width: 50%;
               height: 100%;
               position: relative;
               /* background-color: rgb(198, 103, 198); */
}
.ct-rght button{
               width: 35%;
               font-size: 1.2rem;
               letter-spacing: 1px;
               height: 30%;
               position: absolute;
               bottom: 25%;
               border: none;
               transform: translate(0 ,50%);
               right: 10%;
               background-color: #5FA573;
               color: #fff;
               font-family: gilroy;
               border-radius: 30px;
}
/* ******************* container bottom ************* */
.cont-bottom{
               padding-top: 3%;
               /* padding-left: 1%; */
               display: flex;
               justify-content: space-evenly;
}
/* **************** card ************** */
.cont-btm-card{
               width: 349px;
               border-radius:10px ;
               transition: all 0.1s ease;
               position: relative;
               height: 370px;
               background-color: #BDCDC1;
}

.card-top{
               padding-top: 10%;
               padding-left: 3%;
}
.cont-btm-card h1{
               margin-top: 10%;
               font-size: 2.5rem;
               font-family: gilroy;
               font-weight: 100;
               margin-bottom: 7%;
               padding-left: 5%;
}
.cont-btm-card p{
               font-family: gilroyL;
               width: 90%;
               letter-spacing: 1px;
               line-height: 1.3;
               padding-left: 5%;
}
.card-bottom{
               width: 100%;
               position: absolute;
               padding-left: 3%;
               height: 50px;
               display: flex;align-items: center;
               bottom: 0;
}
.card-circle{
                height: 30px;
                width: 35px;
                display: flex;align-items: center;justify-content: center;
                font-size: 1.5rem;
               border-radius: 50%;
               border: 2px solid black;
}
.card-bottom p{
               font-family: gilroyL;
               font-size: 1.5rem;
}
* {
               padding: 0;
               margin: 0;
               box-sizing: border-box;
               /* font-family: Georgia, "Times New Roman", Times, serif; */
               font-family: Gilory;
               scroll-behavior: smooth;
             }
             
             .wrapper {
               min-height: 100vh;
               width: 100vw;
               background-color: #fff;
               position: relative;
             }
             
             .campains-container {
               width: 100%;
               height: 1440px;
               background-color: #2f2f2f;
             }
             
             .slogen {
               display: flex;
               height: 476px;
               width: 1170px;
               margin: 0 auto;
               padding-top: 130px;
               flex-direction: column;
             }
             
             .slogen img {
               /* display: flex; */
               height: 58px;
               width: 58px;
               margin-left: 50%;
             }
             
             .slogen p {
               font-size: 55px;
               color: #ffffff;
               line-height: 74px;
               text-align: center;
               margin-top: 30px;
               /* font-family: Karla, sans-serif; */
             }
             
             /* companies */
             
             .companies {
               display: flex;
               height: 132pxpx;
               width: 1170px;
               margin: 0 auto;
               padding-top: 100px;
             }
             
             @-webkit-keyframes scroll {
               0% {
                 transform: translateX(0);
               }
               100% {
                 transform: translateX(calc(-250px * 7));
               }
             }
             
             @keyframes scroll {
               0% {
                 transform: translateX(0);
               }
               100% {
                 transform: translateX(calc(-250px * 7));
               }
             }
             
             .slider:hover .slide-track {
               animation-play-state: paused;
             }
             
             .slider {
               background: #2f2f2f;
               height: 132px;
               overflow: hidden;
               position: relative;
               width: 1170px;
             }
             
             .slider::after {
               right: 0;
               top: 0;
               transform: rotateZ(180deg);
             }
             
             .slider::before {
               left: 0;
               top: 0;
             }
             
             .slider .slide-track {
               animation: scroll 40s linear infinite;
               display: flex;
               width: calc(250px * 14);
             }
             .slider .slide {
               height: 100px;
               width: 250px;
             }
             
             /*-----------------------  Top-performer -----------------------  */
             .top-performer {
               display: flex;
               height: 472px;
               width: 1200px;
               margin: 140px auto 0;
             }
             
             #top-performer-left {
               position: relative;
               float: left;
               height: 472px;
               width: 600px;
               /* border: 1px solid white; */
             }
             
             #psudo-box {
               position: absolute;
               height: 457px;
               width: 420px;
               left: 30px;
               top: 25px;
               border-radius: 10px;
               border: 1px solid rgb(119, 119, 117);
             }
             
             .top-performer-img {
               background-image: url(https://assets.website-files.com/64383c04d6fcd16c1e7fbbfa/643e8fe17456f53dab5a176f_woman%20image.webp);
               background-size: cover;
               position: absolute;
               height: 457px;
               width: 420px;
               left: 13px;
               border-radius: 10px;
             }
             
             #top-performer-right {
               float: left;
               height: 472px;
               width: 600px;
               /* border: 1px solid white; */
             }
             
             #top-performer-right .header-performer {
               font-size: 20px;
               color: #5fa573;
               line-height: 25.2px;
               font-family: Karla, sans-serif;
             }
             
             #top-performer-right #disc {
               padding-top: 78px;
               font-size: 30px;
               color: #ffffff;
               line-height: 33px;
             }
             
             .top-performer-name {
               padding-top: 50px;
               font-size: 30px;
               color: #ffffff;
               line-height: 33px;
             }
             
             .top-performer-btn {
               width: 101px;
               height: 40px;
               margin-top: 30px;
             }
             
             #circle1 {
               height: 40px;
               width: 40px;
               border: 1px solid white;
               border-radius: 50%;
               float: left;
               margin-right: 21px;
             }
             
             #circle2 {
               float: right;
               height: 40px;
               width: 40px;
               border: 1px solid white;
               border-radius: 50%;
               transition: all 0.3s;
             }
             
             #circle1:hover {
               background-color: #5fa573;
             }
             
             #circle2:hover {
               background-color: #5fa573;
             }
             
             #circle1 img,
             #circle2 img {
               height: 14px;
               width: 14px;
               color: white;
               margin-top: 11px;
               margin-left: 11px;
             }
             
             /*----------------- Image Gallary ------------ */
             
             .image-gallary-container {
               width: 100%;
               height: 1043px;
               background-color: #ffffff;
             }
             
             .image-gallary {
               width: 1170px;
               height: 783px;
               margin: 0 auto;
               padding-top: 130px;
               background-color: #5fa573;
               margin-top: 130px;
             }
             
             .gallery-container {
               max-width: 1200px;
               height: 943px;
               margin: 100px auto;
               /* padding-top: 80px; */
               /* padding-bottom: 80px; */
             }
             
             .gallery-container h1 {
               margin: 20px 100px;
               text-align: center;
               margin-bottom: 20px;
               font-size: 3rem;
             }
             
             .gallery {
               display: flex;
               flex-wrap: wrap;
               justify-content: space-between;
             }
             
             .card {
               width: 32%;
               position: relative;
               margin-bottom: 20px;
               border-radius: 10px;
               overflow: hidden;
             }
             
             .card img {
               width: 100%;
               height: 100%;
               filter: grayscale(100%);
               box-shadow: 0 0 20px #333;
               object-fit: cover;
             }
             
             .card:hover {
               transform: scale(1.03);
               transition: 0.5s;
               filter: drop-shadow(0 0 10px #333);
             }
             
             .card:hover img {
               filter: grayscale(0%);
             }
             
             .card figcaption {
               position: absolute;
               bottom: 0;
               left: 0;
               padding: 25px;
               width: 100%;
               height: 30%;
               font-size: 16px;
               font-weight: 500;
               color: #fff;
               opacity: 0;
               border-radius: 0 0 10px 10px;
               background: linear-gradient(
                 0deg,
                 rgba(0, 0, 0, 0.5) 0%,
                 rgba(255, 255, 255, 0) 100%
               );
               transition: 0.3s;
             }
             
             .card:hover figcaption {
               opacity: 1;
               transform: scale(1.03);
             }
             
             /* -------------------  How its work --------------------- */
             
             .how-works {
               width: 100%;
               height: 511px;
               background-color: #FAFAFA;
               margin-bottom: 100px;
             }
             
             .how-works-content {
               display: flex;
               height: 511px;
               width: 1200px;
               margin: 130px auto;
               /* background-color: #a5a1a1; */
             }
             
             #how-works-content-left {
               position: relative;
               float: left;
               height: 511px;
               width: 600px;
               /* border: 1px solid white; */
             }
             
             #how-works-content-right {
               float: left;
               height: 511px;
               width: 600px;
               /* border: 1px solid white; */
             }
             
             #work-header {
                 height: 47px;
                 width: 501px;
                 display: flex;
                 font-size: 40px;
                 margin-top: 48px;
             }
             
             #work-header p {
                 font-family: Gilory-light;
                 font-weight: 300;
             }
             
             #work-header span {
                 font-weight: 500; 
                 padding-left: 6px;
             }
             
             #how-works-line{
                 /* width: 180px;
                 height: 6px; */
                 display: flex;
             }
             
             #line1{
                 width: 60px;
                 height: 6px;
                 background-color: #2d4634;
             }
             
             #line2{
                 width: 60px;
                 height: 6px;
                 background-color: #3dac5c;
             }
             
             #line3{
                 width: 60px;
                 height: 6px;
                 background-color: #92d7a6;
             }
             
             #For_your_convenience{
                 margin-top: 73px;
                 font-weight: 600;
                 /* font: bold; */
             }
             
             #work-steps{
                 margin-top: 27px;
             }
             
             #work-steps-para{
                 display: flex;
             }
             
             #work-steps-para-2{
                 margin-left: 5px;
                 font-weight: 600;
             }
             
             #work-steps-list{
                 margin-top: 28px;
                 margin-left: 35px;
             }
             
             #how-works-content-right iframe{
               margin-top: 40px;
             }
             
             /*--------------------- Quizis ---------------------- */
             
             .quiz-wrapper{
              width: 100%;
              height: 815px;
              background-color: #f6fafa;
              margin-bottom: 400px;
             }
             
             .quiz-container{
                 width: 1200px;
                 height:653px ;
                 margin: 0  auto;
                 padding-top: 50px;
             }
             
             .quiz-header{
                 font-size: 40px;
             }
               
               .quiz {
                 display: flex;
                 height: 511px;
                 width: 1200px;
                 margin: 100px auto;
                 /* background-color: #a5a1a1; */
               }
             
               .quiz-left {
                 position: relative;
                 float: left;
                 height: 511px;
                 width: 600px;
                 /* border: 1px solid white; */
               }
               
               .quiz-right {
                 float: left;
                 height: 511px;
                 width: 600px;
                 /* border: 1px solid white; */
               }
             
               .quiz-left img{
                height: 350px;
                width: 569px;
                border-radius: 10px;
                /* margin-left:110px; */
                transition: all 0.4s;
               }
             
               .quiz-left img:hover{
                transform: scale(1.02);
                /* margin-left:110px; */
               }
             
               .quiz-right img{
                height: 350px;
                width: 569px;
                border-radius: 10px;
                /* margin-left:110px; */
                transition: all 0.4s;
               }
             
               .quiz-right img:hover{
                transform: scale(1.02);
                /* margin-left:110px; */
               }
             
               #quiz-para-1{
                 margin-top: 10px;
                 font-size: 25px;
                 line-height: 40px;
               }
             
               /* Footer */
             
               .wrapper-footer {
                position: relative;
                width: 100%;
                height: 200px;
               }
               
               .footer{
                   height: 50vh;
                   position: absolute;
                   width: 100%;
                   /* border: 1px solid black; */
                   background: rgb(238, 185, 249);
                   bottom: 20vh;
                   z-index: 10;
                   /* border-bottom-left-radius: 30px; */
               }
               
               .footer-2{
                   height: 20vh;
                   width: 100%;
                   /* border: 1px solid black; */
                   background: rgb(228, 172, 172);
                   position: fixed;
                   bottom: 0;
                   z-index: -1;
               }